parameters:
	ignoreErrors:
		-
			message: "#^Binary operation \"\\-\" between string and string results in an error\\.$#"
			count: 1
			path: src/Eval/DirectOppositionEval.php

		-
			message: "#^Binary operation \"\\-\" between 9 and string results in an error\\.$#"
			count: 1
			path: src/Eval/PassedPawnEval.php

		-
			message: "#^Method Chess\\\\Eval\\\\PassedPawnEval\\:\\:getThreatPassedPawn\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/Eval/PassedPawnEval.php

		-
			message: "#^Binary operation \"\\+\" between string and 2 results in an error\\.$#"
			count: 1
			path: src/Eval/SqOutpostEval.php

		-
			message: "#^Binary operation \"\\-\" between string and 2 results in an error\\.$#"
			count: 1
			path: src/Eval/SqOutpostEval.php

		-
			message: "#^Call to method play\\(\\) on an unknown class Chess\\\\Player\\.$#"
			count: 1
			path: src/Game.php

		-
			message: "#^Instantiated class Chess\\\\Player not found\\.$#"
			count: 1
			path: src/Game.php

		-
			message: "#^Call to an undefined method Chess\\\\ML\\\\Supervised\\\\AbstractPredictor\\:\\:eval\\(\\)\\.$#"
			count: 1
			path: src/ML/Supervised/AbstractPredictor.php

		-
			message: "#^Access to an undefined property Chess\\\\ML\\\\Supervised\\\\Classification\\\\PermutationPredictor\\:\\:\\$permutations\\.$#"
			count: 2
			path: src/ML/Supervised/Classification/PermutationPredictor.php

		-
			message: "#^Call to method getDims\\(\\) on an unknown class Chess\\\\ML\\\\Supervised\\\\Classification\\\\Heuristics\\.$#"
			count: 1
			path: src/ML/Supervised/Classification/PermutationPredictor.php

		-
			message: "#^Call to method toFen\\(\\) on an unknown class Chess\\\\Board\\.$#"
			count: 1
			path: src/ML/Supervised/Classification/PermutationPredictor.php

		-
			message: "#^Instantiated class Chess\\\\ML\\\\Supervised\\\\Classification\\\\Heuristics not found\\.$#"
			count: 1
			path: src/ML/Supervised/Classification/PermutationPredictor.php

		-
			message: "#^Parameter \\$board of method Chess\\\\ML\\\\Supervised\\\\Classification\\\\PermutationPredictor\\:\\:__construct\\(\\) has invalid type Chess\\\\Board\\.$#"
			count: 1
			path: src/ML/Supervised/Classification/PermutationPredictor.php

		-
			message: "#^Parameter \\$clone of method Chess\\\\ML\\\\Supervised\\\\Classification\\\\PermutationPredictor\\:\\:eval\\(\\) has invalid type Chess\\\\Board\\.$#"
			count: 1
			path: src/ML/Supervised/Classification/PermutationPredictor.php

		-
			message: "#^Parameter \\$estimator of method Chess\\\\ML\\\\Supervised\\\\Classification\\\\PermutationPredictor\\:\\:__construct\\(\\) has invalid type Chess\\\\ML\\\\Supervised\\\\Classification\\\\PersistentModel\\.$#"
			count: 1
			path: src/ML/Supervised/Classification/PermutationPredictor.php

		-
			message: "#^Access to an undefined property Chess\\\\Media\\\\AbstractBoardToImg\\:\\:\\$ext\\.$#"
			count: 2
			path: src/Media/AbstractBoardToImg.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$n\\.$#"
			count: 1
			path: src/Movetext.php

		-
			message: "#^Cannot access property \\$downLeft on array\\|object\\.$#"
			count: 1
			path: src/Piece/B.php

		-
			message: "#^Cannot access property \\$downRight on array\\|object\\.$#"
			count: 1
			path: src/Piece/B.php

		-
			message: "#^Cannot access property \\$upLeft on array\\|object\\.$#"
			count: 1
			path: src/Piece/B.php

		-
			message: "#^Cannot access property \\$upRight on array\\|object\\.$#"
			count: 1
			path: src/Piece/B.php

		-
			message: "#^Method Chess\\\\Piece\\\\K\\:\\:getCastleRook\\(\\) should return Chess\\\\Piece\\\\R\\|null but returns Chess\\\\Piece\\\\AbstractPiece\\.$#"
			count: 2
			path: src/Piece/K.php

		-
			message: "#^Method Chess\\\\Piece\\\\PieceArray\\:\\:__construct\\(\\) with return type void returns \\$this\\(Chess\\\\Piece\\\\PieceArray\\) but should not return anything\\.$#"
			count: 1
			path: src/Piece/PieceArray.php

		-
			message: "#^Cannot access property \\$down on array\\|object\\.$#"
			count: 1
			path: src/Piece/R.php

		-
			message: "#^Cannot access property \\$left on array\\|object\\.$#"
			count: 1
			path: src/Piece/R.php

		-
			message: "#^Cannot access property \\$right on array\\|object\\.$#"
			count: 1
			path: src/Piece/R.php

		-
			message: "#^Cannot access property \\$up on array\\|object\\.$#"
			count: 1
			path: src/Piece/R.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$value$#"
			count: 1
			path: src/Variant/Capablanca100/FEN/Str.php

		-
			message: "#^Call to an undefined method Chess\\\\Piece\\\\AbstractPiece\\:\\:getEnPassantSq\\(\\)\\.$#"
			count: 4
			path: src/Variant/Classical/Board.php

		-
			message: "#^Call to an undefined method Chess\\\\Piece\\\\AbstractPiece\\:\\:getFile\\(\\)\\.$#"
			count: 1
			path: src/Variant/Classical/Board.php

		-
			message: "#^Call to an undefined method Chess\\\\Piece\\\\AbstractPiece\\:\\:getType\\(\\)\\.$#"
			count: 6
			path: src/Variant/Classical/Board.php

		-
			message: "#^Call to an undefined method Chess\\\\Piece\\\\AbstractPiece\\:\\:isPromoted\\(\\)\\.$#"
			count: 1
			path: src/Variant/Classical/Board.php

		-
			message: "#^Variable \\$capturedData might not be defined\\.$#"
			count: 2
			path: src/Variant/Classical/Board.php

		-
			message: "#^Variable \\$move might not be defined\\.$#"
			count: 1
			path: src/Variant/Classical/Board.php

		-
			message: "#^PHPDoc tag @throws with type Chess\\\\Variant\\\\Classical\\\\FEN\\\\UnknownNotationException is not subtype of Throwable$#"
			count: 1
			path: src/Variant/Classical/FEN/ValidationInterface.php

		-
			message: "#^PHPDoc tag @throws with type Chess\\\\Variant\\\\Classical\\\\PGN\\\\UnknownNotationException is not subtype of Throwable$#"
			count: 1
			path: src/Variant/Classical/PGN/ValidationInterface.php

		-
			message: "#^Variable \\$ranks might not be defined\\.$#"
			count: 4
			path: src/Variant/Classical/Randomizer/Endgame/PawnEndgameRandomizer.php

		-
			message: "#^Class Chess\\\\Variant\\\\Chess960\\\\StartPieces constructor invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: tests/unit/Variant/Chess960/StartPiecesTest.php

		-
			message: "#^Call to an undefined method Chess\\\\Piece\\\\AbstractPiece\\:\\:getEnPassantSq\\(\\)\\.$#"
			count: 1
			path: tests/unit/Variant/Classical/BoardTest.php

		-
			message: "#^Method Chess\\\\Variant\\\\Classical\\\\Board\\:\\:undo\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: tests/unit/Variant/Classical/BoardTest.php
